<p-table [columns]="cols" [value]="addressData" [(contextMenuSelection)]="selectedValue" [contextMenu]="cm">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-addressData let-columns="columns">
        <tr [pContextMenuRow]="addressData">
            <td *ngFor="let col of columns">
                {{addressData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>

<p-contextMenu #cm [model]="items"></p-contextMenu>